.header{
    width: 100%;
    background-color: rgb(48, 133, 148);
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}